<body>
    <!-- khung-trai -->
    <div class="khung-trai">
      <div>
        <button class="fa fa-arrow-left btn-back"></button>
        <img class="logo" src="/assets/purchase/logo.png" alt="" />
      </div>
      <div class="ms-2 mt-3 p-change-1">
        <p>Thông tin nhận hàng</p>
      </div>
      <div class="form-group text-center">
        <input
          class="input-change mb-2"
          placeholder="Họ và tên người nhận"
          type="text"
          [(ngModel)]="listCTDH.nameUser"
          name="inform.nameUser"
          value="{{listCTDH.nameUser}}"
          required
        />
        <input
          class="input-change mb-2"
          placeholder="Địa chỉ email"
          type="email"
          [(ngModel)]="listCTDH.email"
          name="inform.email"
          value="{{listCTDH.email}}"
          required
        />
        <input
          class="input-change mb-2"
          placeholder="Số điện thoại"
          type="tel"
          [(ngModel)]="listCTDH.sdt"
          name="inform.sdt"
          value="{{listCTDH.sdt}}"
          required
        />
        <input
          class="input-change"
          placeholder="Địa chỉ giao hàng"
          type="text"
          [(ngModel)]="listCTDH.addressDelivery"
          value="{{listCTDH.addressDelivery}}"
          name="inform.addressDelivery"
          required
        />
      </div>
      <div>
        <hr class="hr-1" />
      </div>
      <div class="p-change-1">
        <p>Phương thức thanh toán</p>
      </div>
      <div>
        <input
          class="input-change"
          placeholder="Địa chỉ giao hàng"
          type="text"
          [(ngModel)]="listCTDH.phuongThucTT"
          value="{{listCTDH.phuongThucTT}}"
          name="inform.addressDelivery"
          required
        />
      </div>
    </div>
    <!-- Khung-phai -->
    <div class="khung-phai">
      <h1 class="h1-change">Đơn Hàng</h1>
      <div class="align-items-center justify-content-center d-flex">
        <hr class="hr-2" />
      </div>
      <div class="scrollbar-2">
        <div *ngFor="let item of listCTDH.CTDH">
          <div class="align-items-center justify-content-center d-flex">
            <div class="col-4">
              <img
                src="http://localhost:3800/ProductImages/{{ item.hinhAnh }}"
                class="img-change-2"
              />
            </div>
            <div class="col-4 text-center">
              <p class="p-change-2">{{ item.tenSP }}</p>
            </div>
            <div class="col-4 text-center">
              <p class="p-change-2">
                {{ item.thanhTien | currency : "VND" : " " }}
              </p>
            </div>
          </div>
        </div>
      </div>
  
      <div>
        <hr class="hr-3" />
      </div>
      <div class="d-flex mb-3">
      <div class="d-flex mb-3">
        <div class="col-6 text-start">
          <p class="p-change-2">Phí giao hàng:</p>
        </div>
        <div class="col-6 text-end">
          <p class="p-change-2">20,000</p>
        </div>
      </div>
      <div class="d-flex">
        <div class="col-6 text-start">
          <p class="p-change-2">thành tiền:</p>
        </div>
        <div class="col-6 text-end">
          <p class="p-change-2">
            {{ listCTDH.tongTien + 20000 | currency : "VND" : " " }}
          </p>
        </div>
      </div>
      <div class="align-items-center justify-content-center d-flex">
      </div>
    </div>
  /body>
  