<body class="vh-100 justify-content-center align-items-center d-flex">
  <div class="loginbox row">
    <div class="form">
      <div
        class="row text-center justify-content-center align-items-center"
        style="height: 30%"
      >
        <p id="loginText" style="font-size: 3vw; font-family: sans-serif">
          Đăng nhập
        </p>
      </div>
      <div class="row m-0">dsd</div>
      <div class="row m-0">trtr</div>
      <div class="row m-0">wewe</div>
      <div class="row m-0">sds</div>
    </div>
    <div class="right"></div>
  </div>
</body>
