<body>
  <div >
    <img src="/assets/purchase/bg.png" class="img-resize">
    <!-- notice -->
    <div class="con-notice">
      <div class="align-items-center justify-content-center d-flex">
        <img src="/assets/purchase/name.png">
      </div>
      <div>
        <p class="p-change-1 ">Đặt hàng thành công</p>
      </div>
      <div class="align-items-center justify-content-center d-flex pt-5">
        <p class="p-change-2">Bạn đã mua: </p>
        <img src="/assets/product-detail/Ca_hoi.png" class="img-resize-2">
      </div>
      <div class="pt-5">
        <p class="p-change-2">Tổng tiền: 35.000Đ</p>
      </div>
      <div class="pt-5">
        <p class="p-change-2">Cảm ơn quý khách đã mua hàng</p>
      </div>
    </div>
  </div>
</body>
