#logo{
  width: 75px;
  image-rendering: optimizeQuality;
}

.header {
  position: sticky;
  top: 0;
  width: 100%;
  padding: 20px 50px;
  background: rgba(255, 255, 255, 0.1);
  display: flex;
  align-items: center;
  justify-content: space-between;
  backdrop-filter: blur(10px);
  border-bottom: 2px solid rgba(255, 255, 255, 0.3);
  z-index: 2;
}

.container{
  width: 500px;
  margin: 0 50px;
}
.container .input{
    border: 0;
    outline: none;
    background-color: #EDEDED;
}
.search_wrap{
  width: 350px;
  margin: 5px auto;
}
.search_wrap .search_box{
  position: relative;
  width: 350px;
  height: 40px;
}
.search_wrap .search_box .input{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 10px 20px;
  border-radius: 25px;
  font-size: 18px;
  padding-right: 80px;
}
.search_wrap .search_box .btn{
  position: absolute;
  top: 0;
  right: 0;
  width: 70px;
  height: 100%;
  background-color: #316cb7;
  border-radius: 25px;
}

#menu-icon {
  font-size: 36px;
  display: none;
}

.navbar a {
  font-size: 22px;
  font-weight: 600;
  margin-left: 40px;
  transition: 0.3s;
  text-decoration: none;
  color: #6e6e6e;
}
.navbar a:hover {
  color: #316cb7;
}
.iconClass{
  position:relative;
}
.iconClass span{
  position: absolute;
  top: -5px;
  right: -12px;
  font-size: 10px;
  background-color: red;
  border-radius: 50%;
  display: block;
}

/* RESPONSIVE */
@media (max-width: 992px) {
  .header {
    padding: 1.25rem 4%;
  }
}

@media (max-width: 768px) {
  #menu-icon {
    display: block;
  }
  .navbar {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0.5rem 4%;
    display: none;
  }
  .navbar.active {
    display: block;
  }
  .navbar a {
    display: block;
    margin: 1rem 0;
  }
  .nav-bg {
    position: fixed;
    top: 11.8%;
    left: 0;
    width: 100%;
    height: 295px;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border-bottom: 1px blur rgba(255, 255, 255, 0.2);
    display: none;
  }
  .nav-bg.active {
    display: block;
  }
}
