<div class="footer">
  <div class="d-flex">
    <img src="assets\Shared\anh_footer.png" id="image" />
    <div class="container">
      <div class="row">
        <div class="footer-col ps-5" id="col_larger">
          <img
            src="assets\Shared\ten_web.png"
            id="ten_web"
            style="max-width: 100%"
          />
          <ul>
            <li>
              <i class="fa-solid fa-phone pe-2" style="color: #f9f9f9"></i>
              +84 985 632 100 (Mr. abc)
            </li>
            <li>
              <i class="fa-solid fa-envelope pe-2" style="color: #f9f9f9"></i>
              zone14@customerservice.com
            </li>
            <li>
              <i class="fa-solid fa-compass pe-2" style="color: #f9f9f9"></i>
              828 Sư Vạn Hạnh, phường 12, quận 10, TP. Hồ Chí Minh
            </li>
          </ul>
          <div class="social-links">
            <a href="#"
              ><i class="fa-brands fa-facebook" style="color: #d0daf5"></i
            ></a>
            <a href="#"
              ><i class="fa-brands fa-twitter" style="color: #d0daf5"></i
            ></a>
            <a href="#"
              ><i class="fa-brands fa-instagram" style="color: #d0daf5"></i
            ></a>
          </div>
        </div>
        <div class="footer-col">
          <h4>Thông Tin</h4>
          <ul>
            <li><a href="#">Trang Chủ</a></li>
            <li><a href="#">Giới Thiệu</a></li>
            <li><a href="#">Mua Sắm</a></li>
            <li><a href="#">Liên Hệ Cung Ứng</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-10">
    <div class="col-md-12 text-center">
      <hr class="pt-2 mx-4" />
      <p>Copyright © 2023 Filet - O - Fish Company. All rights reserved.</p>
    </div>
  </div>
</div>
