body {
    background: #f6f4ec;
}
.banner {
    background: linear-gradient(
        -90deg,
        rgba(53, 102, 163, 1) 1%,
        rgba(62, 112, 174, 1) 21%,
        rgba(120, 164, 210, 1) 59%,
        rgba(168, 202, 228, 1) 98%
);
    width: 100%;
    height: 164px;
    margin: 0;
    padding: 0;
}
h1 {
    padding: 55px 0px 0px 40px;
    color: #f6f4ec;
}
.bannerFish {
    width: 223px;
    height: 147px;
}
.left {
    width: 80%;
    height: auto;
    position: relative;
}
.right {
    width: 20%;
    height: auto;
    margin-top: 10px;
}
.right img {
    max-width: 100%;
    width: 200px;
}
/* CONTENT*/

/*  */
/* LEFT */
/*  */
.selectedItem {
    color: #d9673a;
    margin-bottom: 16px;
    font-size: 30px;
    font-weight: 400;
    text-decoration: none;
}
.unseletedItem {
    color: #1c1b1f;
}
ul li {
    list-style: none;
    text-decoration: none;
}
li a {
    margin-bottom: 16px;
    font-size: 22px;
    font-weight: 400;
    text-decoration: none;
}
.menu {
    width: 30%;
    text-align: center;
    justify-content: center;
    display: flex;
    align-items: flex-start;
}
.menu ul {
    background: #e5e5e5;
    list-style: none;
    font-size: 22px;
    width: 350px;
    margin: 0;
    height: auto;
    padding: 0;
    border-radius: 25px;
}
/*  */
/* RIGHT */
/*  */
h3 {
    text-align: center;
    color: #1c1b1f;
}
.menu-content {
    width: 70%;
    padding: 0px 20px 50px 0px;
}
.ninja{
    display: none;
}
.table-hover tbody tr:hover td span {
    display: inline;
    position: absolute;
    right: 20px;
}


/*  */
/* RES */
/*  */
@media only screen and (max-width: 576px) {
    .menu {
        width: 100% !important;
    }

    .menu-content {
        width: 100% !important;
    }
}
