/* LEFT */
.form-1{
  width: 60%;
  border-radius: 8px;
  background: #f8f8f8;
  box-shadow: -4px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.registerbox {
  display: flex;
  height: 80%;
  width: 70%;
}
.left {
  width: 40%;
  border-radius: 8px 0px 0px 8px;
  background: linear-gradient(0deg, #4278bd 0%, #a8cae4 100%);
  box-shadow: -4px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.style-change {
  background: #dedede;
}
@font-face {
  font-family: balloTamma;
  src: url(/assets/BalooTamma-Regular.ttf);
}
#chao-ban-moi {
  color: #f6f4ec;
  text-align: center;
  font-family: "balloTamma";
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.img-responsive {
  position: relative;
  width: 100%;
}
.form-blue {
  width: 70%;
  height: 70%;
}
#p-1 {
  color: #fff;
  font-family: "Inter";
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
#p-2 {
  color: #d9673a;
  font-family:"Inter";
  font-size: 22px;
  font-style:italic;
  font-weight: 500;
  line-height: normal;
  text-decoration-line: underline;
}
@font-face {
  font-family: "Inter";
  src: url(/assets/fonts/Inter-VariableFont_slnt\,wght.ttf);
}
/* RIGHT */
.form{

}
