/* Quang Huy */
.khung-1 {
  position: relative;
  width: 100%;
/* Tiến Thành */
}
body{
  background: #FEFEFE;
}
.imageSlider1{
  width:100%;
  height: 100vh;
}

.image2{
  height: 500px;
  width:100%;
}



  @font-face {
     font-family: balloTamma;
     src: url(../../../assets/fonts/Baloo-Regular.ttf);
  }

  .h1 {
     font-family: balloTamma;
     color: #EAD1A5;
     text-align: center;
     margin-top: 1%;
     font-size: 70px;
  }

.tieudenho{
  font-family: balloTamma;
  color: #5581A5;
  font-size: 40px;
  text-align: center;
  margin-top: 1%;
}
.noidungnho{
  color: #6F6F6F;
  text-align: center;
  font-size: 30px;
  margin-top: -15px;
  text-wrap:pretty;
  font-weight: 500;
  word-wrap: break-word;
  width: 70%;
  margin-left: 14%;
}
.item{
  width: 40%;
  height: fit-content;
  margin-left: 7.5%;
  float: left;
  overflow-wrap: break-word;
}

.imageItem{
  height: 350px; width: 100%;
}

@media only screen and (max-width:900px){
  .item{
    height: fit-content;
    float: none;
    width: 80%;
  }
  .imageItem{
    height: 300px;
    width: 100%;
  }
  .image2{
    height: 300px;
  }
  .imageSlider1{
    height: 500px;
  }
}

/* Quang Huy */
#background_image{
  background-image: url(/assets/Hompage/background_water.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  height : 1030px
}
#bt
{
  position: absolute;
  left : 170px;
  top : 680px;
  border-radius: 35px;
  border-color: white;
  padding: 20px;
  padding-inline-end: 80px ;
  padding-inline-start: 80px ;
  font: "Inter";
  font-weight: bold;
  box-shadow: 0px 0px 10px black;
  cursor: pointer;
  transition: 0.2s;
  color: #316CB7;
  background: white;
  font-size: 25px;

}
.khung-1 .bg-resize {
  width: 100vw;
}
.khung-1 .btn-1 {
  position: absolute;
  top: 60%;
  right: 78%;
  width: 262px;
  height: 77px;
  border-radius: 40px;
  background: #fffefe;
  box-shadow: 2px 4px 10px 2px rgba(0, 0, 0, 0.25);
  color: #316cb7;
  font-family: Inter;
  font-size: 25px;
  font-weight: 800;
  text-align: center;
}

@media screen and (max-width:1123px){
  .khung-1 .btn-1 {
    top: 60%;
    right: 77%;
    width: 230px;
    height: 70px;
    font-size: 25px;
  }
  @media screen and (max-width:951px) {
    .khung-1 .btn-1 {
      top: 60%;
      right: 77%;
      width: 180px;
      height: 55px;
      font-size: 22px;
    }
  }
  @media screen and (max-width:777px) {
    .khung-1 .btn-1 {
      top: 60%;
      right: 77%;
      width: 150px;
      height: 50px;
      font-size: 20px;
    }
  }
}

#khung-muasam
{
  position: relative;
  background-image: url(/assets/Hompage/background_khung_muasam.png);
  background-repeat: no-repeat;
  width: 90.2vw;
  height: 39vw;
}
#khung-item
{
  border-radius: 25px;
  background-color: white;
  height: 400px;
  width: 300px;
  padding:10px;
  border: 2px solid;
}
#font-muasam
{
  font-size: 4rem;
  font-family: "Inter";
  font-weight: bold;
  color:#316CB7;
  position: absolute;
  left : 7%;
  top: 10%;
}
#font-name{
  font-size: 2rem;
  font-family: "Inter";
  font-weight: bold;
  margin-top: 25px;
}
#font-gia{
  font-size: 1.5rem;
  font-family: "Inter";
}
#img-size{
  width: 250px;
  height: 230px;
} 
/* SLIDER */

.container-fluid {
  background-image: url(/assets/Hompage/background_khung_muasam.png);
}
.boxtitle {
  color: #316cb7;
  font-size: 70px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.slider {
  position: relative;
  overflow: hidden;
  height: 450px;
  margin-top: 30px;
  margin-bottom:40px;
}
.slider-main {
  position: absolute;
  width: 200%;
}
.slider-main .item {
  display: inline-block;
  width: 300px;
  height: 500px;
  margin-right: 50px;
  margin-left: 55px;
  position: relative;
}
.card {
  border-radius: 25px;
}
.proimage{
  width:300px;
  height:300px;
}
.card-body {
  border-top: 1px solid rgb(190, 196, 190);
}

button {
  border-radius: 50%;
  border:none;
  width: 40px;
  height: 40px;
  opacity: 0.6;
}
.back {
  position: absolute;
  left: 0;
  top: 40%;
}
.next {
  position: absolute;
  right: 0;
  top: 40%;
}
