.khung-1 {
  position: relative;
  width: 100%;
}
.khung-1 .bg-resize {
  width: 100vw;
}
.khung-1 .btn-1 {
  position: absolute;
  top: 60%;
  right: 78%;
  width: 262px;
  height: 77px;
  border-radius: 40px;
  background: #fffefe;
  box-shadow: 2px 4px 10px 2px rgba(0, 0, 0, 0.25);
  color: #316cb7;
  font-family: Inter;
  font-size: 25px;
  font-weight: 800;
  text-align: center;
}

@media screen and (max-width:1123px){
  .khung-1 .btn-1 {
    top: 60%;
    right: 77%;
    width: 230px;
    height: 70px;
    font-size: 25px;
  }
  @media screen and (max-width:951px) {
    .khung-1 .btn-1 {
      top: 60%;
      right: 77%;
      width: 180px;
      height: 55px;
      font-size: 22px;
    }
  }
  @media screen and (max-width:777px) {
    .khung-1 .btn-1 {
      top: 60%;
      right: 77%;
      width: 150px;
      height: 50px;
      font-size: 20px;
    }
  }
}

#khung-muasam
{
  position: relative;
  background-image: url(/assets/Hompage/background_khung_muasam.png);
  background-repeat: no-repeat;
  width: 90.2vw;
  height: 39vw;
}
#khung-item
{
  border-radius: 25px;
  background-color: white;
  height: 400px;
  width: 300px;
  padding:10px;
  border: 2px solid;
}
#font-muasam
{
  font-size: 4rem;
  font-family: "Inter";
  font-weight: bold;
  color:#316CB7;
  position: absolute;
  left : 7%;
  top: 10%;
}
#font-name{
  font-size: 2rem;
  font-family: "Inter";
  font-weight: bold;
  margin-top: 25px;
}
#font-gia{
  font-size: 1.5rem;
  font-family: "Inter";
}
#img-size{
  width: 250px;
  height: 230px;
}
